<div class="jumbotron">
   <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1>Hello!</h1>
      </div>
      <div class="col-xs-12 col-sm-6">
           <p class="lead">
             Always a pleasure scaffolding apps. Here are some random tools.
           </p>
           <p><a class="btn btn-lg btn-success" href="#todo">Create To Do <span class="glyphicon glyphicon-ok"></span></a></p>
           <p><a class="btn btn-lg btn-success" href="#basketball">Use Scoreboard</a></p>
      </div>
   </div>
</div>

<div class="row marketing">
</div>
